<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="sanitySuite">
	
	<test name="TestSuitesanity">
		<groups>
			<run>
				<!--<include name="sanity"/>-->
				<!--<exclude name="regression"/>-->
				<include name ="functional"/>
			</run>
		</groups>
		
		
		<classes>
			    <class name="testNGgrouping.Login"/>
				<class name="testNGgrouping.Payment"/>
				<class name="testNGgrouping.Signup"/>
		</classes>
		
	</test>
	
</suite>
